html {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

body {
	height: 100%;
	flex-grow: 1;
	background-color: white;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	background-color: white;
}

#root {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.app {
	flex-grow: 1;
	display: flex;
	flex-direction: column;

	--x2letter: #9ad5f5;
	--x3letter: #0ea2e2;
	--x2word: #d8b93e;
	--x3word: #dd3421;
	--start: #d68924;
}

.too-small-screen {
	z-index: 100;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: white;
}

.gamearea {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-x: auto;

	> .board {
		margin-bottom: 1em;
	}
}

.board {
	font-size: 26px;

	background-color: #235f21;
	padding: 1em;
	border: 6px solid darken(#235f21, 10%);
	max-width: 100%;
	overflow-x: auto;
	display: flex;
	flex-direction: column;
	gap: 0.3em;

	> .row {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		gap: 0.3em;
	}
}

.hand {
	font-size: 26px;

	background-color: #235f21;
	border: 4px solid darken(#235f21, 10%);
	padding: 0.5em;
	display: flex;
	gap: 0.3em;
}

.tile {
	--border-color: white;
	aspect-ratio: 1 / 1;
	border: 1px solid;
	padding: 0.3em;
	display: flex;
	width: 2rem;
	justify-content: center;
	align-items: center;
	position: relative;

	&.transparent {
		opacity: 0.6;
	}

	&.start {
		--tile-color: var(--x2word);
		--border-color: var(--x2word);
	}
	&.x2word {
		--tile-color: var(--x2word);
		--border-color: var(--x2word);
	}
	&.x3word {
		--tile-color: var(--x3word);
		--border-color: var(--x3word);
	}
	&.x2letter {
		--tile-color: var(--x2letter);
		--border-color: var(--x2letter);
	}
	&.x3letter {
		--tile-color: var(--x3letter);
		--border-color: var(--x3letter);
	}

	background-color: var(--tile-color);
	border-color: var(--border-color);

	> .letter {
		z-index: 10;
		width: 100%;
		height: 100%;
		text-align: center;
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: white;

		&.plan {
			background-color: gray;
		}
	}

	.star {
		fill: var(--start);
		position: absolute;
		right: 0;
		left: 0;
		top: 0;
		bottom: 0;
		z-index: 8;
	}

	.instruction {
		font-size: 0.8rem;
		z-index: 7;
		text-align: center;
		opacity: 0.8;
	}

	.rotated-box {
		display: block;
		width: calc(100% - 0.15rem);
		height: calc(100% - 0.15rem);
		position: absolute;
		transform: rotate(45deg);
		background-color: var(--tile-color);
		// z-index: 5;
		// border: 1px solid white;
	}
}
